/* navbar */

.cont-nav {
    transition: all .5s;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    width: 240px;
}

nav {
    flex: 1 1 0%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 8px 12px 0px;
    width: 240px;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 29, 33);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-nav {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 0px 16px 0px 0px;
    font-weight: 500;
    font-family: AxLLCircular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-image: none;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: rgb(215, 219, 224);
    outline: none !important;
    background-color: transparent !important;
}


/* button nav */

.user {
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
}

.logito {
    width: 40px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

.content-logito {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient( 135deg, rgb(255, 79, 66) 0%, rgb(255, 142, 60) 100%);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 166px;
    text-align: left;
    margin-right: 8px;
}


/* end button nav */


/* ul */

nav ul {
    overflow-y: auto;
    flex: 1 1 0%;
    width: 100%;
    margin-top: 16px;
}

nav ul li {
    overflow: hidden;
    margin-top: 4px;
}

nav ul li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 40px;
    border: 0;
    text-align: left;
    width: max-content;
    color: rgb(215, 219, 224);
    background-color: transparent;
}

nav ul li a:hover {
    color: white;
}

nav ul li a span {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    font-weight: bold;
}

nav ul li a h2 {
    font-size: 14px;
    line-height: 1.5;
    white-space: nowrap;
    font-weight: bold;
}

.active {
    background: -webkit-linear-gradient( 135deg, rgb(255, 79, 66) 0%, rgb(255, 142, 60) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* end ul */

.bot {
    display: flex;
    padding: 12px;
    align-content: flex-end;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(26, 29, 33);
    width: 240px;
}

.checkbtn {
    position: fixed;
    padding: 8px;
    top: 0px;
    width: 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    z-index: 8;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

.checkbtn h4 {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(26, 29, 33);
}

#check {
    display: none;
}

.most {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    outline: none;
    appearance: none;
    border-radius: 6px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    min-height: 40px;
    min-width: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: AxLLCircular, Helvetica, Arial, sans-serif;
    width: 44px;
    height: 44px;
    padding: 12px 0px;
    margin-right: 0px;
}

@media (max-width: 1120px) {
    .cont-nav {
        width: 64px;
        transition: all .5s;
        animation: 180ms ease 0s 1 normal forwards running animation-zfb91p;
    }
    .user {
        display: none;
    }
    nav ul li a h2 {
        display: none;
    }
    .bot {
        display: none;
    }
}

@media (max-width:720px) {
    .checkbtn {
        display: flex;
    }
    .title {
        margin-left: 60px !important;
    }
    .cont-nav {
        left: -100%;
        position: fixed;
        height: 100vh;
        top: 70px;
    }
    #check:checked~.cont-nav {
        left: 0;
    }
    .profile {
        display: none !important;
    }
}


/* end navbar */