<div class="root">
    <app-navbar></app-navbar>

    <div class="content">
        <div class="header">
            <div class="title">
                <h2>Payment activity</h2>
            </div>
            <div class="profile">
                <div class="profile-cont">
                    <h3>jeespoping@gmail.com</h3>
                </div>
            </div>
            <div id="drop" class="drop">
                <i class="far fa-user-circle"></i>
            </div>
            <ul id="target">
                <li class="owner">owner</li>
                <li><a href="#"><i class="fal fa-user-alt"></i>  Profile</a></li>
                <li><a href="#"><i class="far fa-life-ring"></i>  Help</a></li>
                <li><a href="#"><i class="fas fa-power-off"></i>  Log out</a></li>
            </ul>
        </div>

        <section>
            <div class="box-1">
                <h1 class="active-header">Payments</h1>
            </div>
            <div class="header-table">
                <select name="table-select">
                    <option value="all" selected>All status</option>
                    <option value="funds">Funds Pending</option>
                  </select>
                <div>
                    <button class="btn-1"><i class="fal fa-download"></i> Export</button>
                    <button class="btn-1"><i class="fal fa-sort-amount-up-alt"></i> Filters</button>
                </div>
            </div>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th><button class="btn-filtro">SHORT REFERENCE <i class="fal fa-sort-amount-up-alt"></i></button></th>
                            <th>PAYMENT DATE</th>
                            <th><button class="btn-filtro">Payment currency <i class="fal fa-sort-amount-up-alt"></i></button></th>
                            <th>PAYMENT AMOUNT</th>
                            <th>RECIPIENT</th>
                            <th><button class="btn-filtro">STATUS <i class="fal fa-sort-amount-up-alt"></i></button></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210612-8KNR34N</td>
                            <td>2021-06-13</td>
                            <td>USD</td>
                            <td>$850.00</td>
                            <td>Jerson Giraldo</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210521-X6N7T8Z</td>
                            <td>2021-05-22</td>
                            <td>HKD</td>
                            <td>$42,000.00</td>
                            <td>Suotta Ltd</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210513-0NW392R</td>
                            <td>2021-05-13</td>
                            <td>USD</td>
                            <td>$850.00</td>
                            <td>Jerson Giraldo</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210509-YTIV1HI</td>
                            <td>2021-05-10</td>
                            <td>HKD</td>
                            <td>$56,477.23</td>
                            <td>Suotta Ltd</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210503-ZW9TDRE</td>
                            <td>2021-05-04</td>
                            <td>USD</td>
                            <td>$280.00</td>
                            <td>Angel Adrian Loreto Torres</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210409-ZVN1EKF</td>
                            <td>2021-04-09</td>
                            <td>USD</td>
                            <td>$1,006.00</td>
                            <td>Jerson Giraldo</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210331-GDE3O5F</td>
                            <td>2021-03-31</td>
                            <td>USD</td>
                            <td>$150.00</td>
                            <td>Gerald Louis Excellent Marin</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210329-NZ05SZ1</td>
                            <td>2021-03-30</td>
                            <td>USD</td>
                            <td>$202.50</td>
                            <td>Cristhian Rivera</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210328-64FACUA</td>
                            <td>2021-03-28</td>
                            <td>USD</td>
                            <td>$400.00</td>
                            <td>Jair Saul Bustamante Pinedo</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210328-D4T8ZA7</td>
                            <td>2021-03-28</td>
                            <td>USD</td>
                            <td>$441.43</td>
                            <td>Mayron Urieles Navas</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>P210326-XYIWMYW</td>
                            <td>2021-03-27</td>
                            <td>USD</td>
                            <td>$1,000.00</td>
                            <td>Jerson Giraldo</td>
                            <td>
                                <h1 class="sent">Sent</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginate">
                <div style="display: flex;">
                    <div style="margin: 1rem;"><i class="fal fa-step-backward"></i></div>
                    <div style="margin: 1rem;"><i class="fal fa-angle-left"></i></div>
                    <div style="justify-content: center;align-items: center;display:flex;min-width: 32px;background-color: rgb(235, 236, 240);">1</div>
                    <div style="margin: 1rem;"><i class="fal fa-angle-right"></i></div>
                </div>
                <div>
                    1-11 of 11
                </div>
            </div>
        </section>
    </div>
</div>