section{
    width: 100%;

.titulos{
    padding: 32px 40px 16px;
    margin-top: 4rem;    
    border: 1px solid rgb(232, 234, 237);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 16px 0px;
}
}

.titulos h1{
    color: rgb(26, 29, 33);
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}