<div class="root">

  <app-navbar></app-navbar>
  
  <div class="content">
    <div class="header">
      <div class="title">
          <a href="./card-settings" style="color: black; margin-left: 2rem;">
            <h2>Cards</h2>
          </a>          
          <a href="#" style="color: black; margin-left: 2rem;">
              <h2>Transactions</h2>
          </a>          
          <h2 style="color: black; margin-left: 2rem;">Settings</h2>
      </div>
      <div class="profile">
          <div class="profile-cont">
              <h3>jeespoping@gmail.com</h3>
          </div>
      </div>
      <div id="drop" class="drop">
          <i class="far fa-user-circle"></i>
      </div>
      <ul id="target">
          <li class="owner">owner</li>
          <li><a href="#"><i class="fal fa-user-alt"></i>  Profile</a></li>
          <li><a href="#"><i class="far fa-life-ring"></i>  Help</a></li>
          <li><a href="#"><i class="fas fa-power-off"></i>  Log out</a></li>
      </ul>
    </div>

    <section>
      <div class="titulos">
        <h1>Funding</h1>
      </div>
    </section>
  </div>
</div>
