<div class="root">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="header">
      <div class="title">
          <h2>Connections</h2>
      </div>
      <div class="profile">
          <div class="profile-cont">
              <h3>jeespoping@gmail.com</h3>
          </div>
      </div>
      <div id="drop" class="drop">
          <i class="far fa-user-circle"></i>
      </div>
      <ul id="target">
          <li class="owner">owner</li>
          <li><a href="#"><i class="fal fa-user-alt"></i>  Profile</a></li>
          <li><a href="#"><i class="far fa-life-ring"></i>  Help</a></li>
          <li><a href="#"><i class="fas fa-power-off"></i>  Log out</a></li>
      </ul>
    </div>

    <section>

      <div class="titlee">
        <h1>Connect to 3rd party platforms</h1>
        <p>Personalise Airwallex to your business by integrating with your preferred third-party platforms.</p>
      </div>

      <div class="plataforms">
        <h1>Marketplace platforms</h1>

        <div class="row">          
          <!-- amazon -->
          <a href="#">
            <div class="image">
              <img src="assets/amazon.svg" alt="error">
            </div>
            <div class="body">
              <h4>Amazon</h4>
              <p>Marketplace platforms</p>
            </div>
          </a>

          <!-- ebay -->
          <a href="#">
            <div class="image">
              <img src="assets/ebay.svg" alt="error">
            </div>
            <div class="body">
              <h4>eBay</h4>
              <p>Marketplace platforms</p>
            </div>
          </a>

          <!-- finac -->
          <a href="#">
            <div class="image">
              <img src="assets/finac.svg" alt="error">
            </div>
            <div class="body">
              <h4>Fnac</h4>
              <p>Marketplace platforms</p>
            </div>
          </a>

          <!-- lazada -->
          <a href="#">
            <div class="image">
              <img src="assets/lazada.svg" alt="error">
            </div>
            <div class="body">
              <h4>Lazada</h4>
              <p>Marketplace platforms</p>
            </div>
          </a>

          <!-- shopify -->
          <a href="#">
            <div class="image">
              <img src="assets/shopify.svg" alt="error">
            </div>
            <div class="body">
              <h4>Shopfy</h4>
              <p>Marketplace platforms</p>
            </div>
          </a>
        </div>
      </div>

      <div class="plataforms">
        <h1>Accounting services</h1>

        <div class="row">    

          <!-- xero -->
          <a href="#">
            <div class="image">
              <img src="assets/xero.svg" alt="error">
            </div>
            <div class="body">
              <h4>Xero</h4>
              <p>QuickBooks</p>
            </div>
          </a>
          <!-- quickbooks -->
          <a href="#">
            <div class="image">
              <img src="assets/quickbooks.svg" alt="error">
            </div>
            <div class="body">
              <h4>Xero</h4>
              <p>QuickBooks</p>
            </div>
          </a>
        </div>
      </div>

    </section>
  </div>
</div>
