<div class="root">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="header">
      <div class="title">
          <h2>Payments verification</h2>
      </div>
      <div class="profile">
          <div class="profile-cont">
              <h3>jeespoping@gmail.com</h3>
          </div>
      </div>
      <div id="drop" class="drop">
          <i class="far fa-user-circle"></i>
      </div>
      <ul id="target">
          <li class="owner">owner</li>
          <li><a href="#"><i class="fal fa-user-alt"></i>  Profile</a></li>
          <li><a href="#"><i class="far fa-life-ring"></i>  Help</a></li>
          <li><a href="#"><i class="fas fa-power-off"></i>  Log out</a></li>
      </ul>
    </div>

    <section>
      <img width="220" src="https://static.airwallex.com/webapp/acquiring/v1.151.2/media/illustration_payment.bbbe44f7.png" alt="">
      <div class="information">
        <h1>Great news! We are processing your application.</h1>
        <p>Our team is reviewing your submitted information. This process usually takes 2-3 business days. We may reach out to you if additional details are required.</p>
        
        <!-- chulos -->
        
        <div class="chulos">
          <div class="chulo1">
            <div style="display: flex;">
              <span class="inv"></span>
              <div class="ok"><i class="fas fa-check"></i></div>
              <span class="vis"></span>
            </div>
            <h2>Created</h2>
          </div>
          <div class="chulo1">
            <div style="display: flex;">
              <span class="vis"></span>
              <div class="ok"></div>
              <span class="vis-gris"></span>
            </div>
            <h2>Under review</h2>
          </div>
          <div class="chulo1">
            <div style="display: flex;">
              <span class="vis-gris"></span>
              <div class="ok-gris"></div>
              <span class="inv"></span>
            </div>
            <h2>Completed</h2>
          </div>
        </div>

        <div class="inforr">
          <p>If you have any questions,</p> <a href="#" class="link">contact us </a> <p>. anytime.</p>
        </div>
      </div>
    </section>
  </div>
</div>
